php2/Zend/workspaces/DefaultWorkspace/php2/src/ModWebServices/WSDL.xml

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://footballpool.dataaccess.eu"
	name="Info" targetNamespace="http://footballpool.dataaccess.eu">
	<types>
		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://footballpool.dataaccess.eu">
			<xs:complexType name="tPlayerNames">
				<xs:sequence>
					<xs:element name="iId" type="xs:int" />
					<xs:element name="sName" type="xs:string" />
					<xs:element name="sCountryName" type="xs:string" />
					<xs:element name="sCountryFlag" type="xs:string" />
					<xs:element name="sCountryFlagLarge" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
	<portType name="InfoSoapType">
		<operation name="AllPlayerNames">
			<documentation>
				Returns an array with the id, name, country and flag reference of all
				players
			</documentation>
			<input message="tns:AllPlayerNamesSoapRequest" />
			<output message="tns:AllPlayerNamesSoapResponse" />
		</operation>
	</portType>
</definitions>